atomicwrites==1.3.0
attrs==19.1.0
backcall==0.2.0
blis==0.7.4
catalogue==2.0.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
cymem==2.0.5
decorator==5.0.9
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
filelock==3.0.12
funcy==1.16
future==0.18.2
gensim==4.0.1
huggingface-hub==0.0.12
idna==2.10
importlib-metadata==0.19
ipython==7.24.1
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
kiwisolver==1.3.1
langcodes==3.1.0
liwc==0.5.0
liwc-text-analysis==1.0.2
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
-e git+https://github.com/nightingal3/moral-development.git@d180d3c7514c94dc1ceffe0c06679e9064a012e1#egg=moral_development
more-itertools==7.2.0
msgpack==1.0.2
murmurhash==1.0.5
nltk==3.6.2
numexpr==2.7.3
numpy==1.20.3
packaging==20.9
pandas==1.2.4
parso==0.8.2
pathy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pluggy==0.12.0
preshed==3.0.5
prompt-toolkit==3.0.19
ptyprocess==0.7.0
py==1.8.0
pydantic==1.7.4
Pygments==2.9.0
pylangacq==0.13.3
pyLDAvis==3.3.1
pyparsing==2.4.2
Pyphen==0.10.0
pytest==5.1.2
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
sentence-transformers==2.0.0
sentencepiece==0.1.96
six==1.12.0
sklearn==0.0
smart-open==3.0.0
spacy==3.0.6
spacy-legacy==3.0.6
srsly==2.4.1
textstat==0.7.1
thinc==8.0.6
threadpoolctl==2.1.0
tokenizers==0.10.3
torch==1.9.0
torchvision==0.10.0
tqdm==4.60.0
traitlets==5.0.5
transformers==4.8.2
typer==0.3.2
typing-extensions==3.10.0.0
urllib3==1.26.4
wasabi==0.8.2
wcwidth==0.1.7
wordfreq==2.5.0
zipp==0.6.0
